In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

from pprint import pp
from io import StringIO
from uuid import UUID, uuid4
from joblib import dump, load
from dataclasses import make_dataclass, field

In [3]:
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', None)

In [4]:
from models import (
    Item,
    Book,
    Advantage,
    Disadvantage,
    List,
    Chapter,
    Paragraphs,
    Table,
    Attribute
)

In [5]:
from parsers import (
    parse_paragraphs,
    parse_list,
    line_start_with_number_dot,
    parse_table,
    parse_dot_list,
    split_list,
    parse_number_list
)

In [48]:
from utils.utils import (
    save_df,
    load_items,
    get_parent_type,
    new_book,
    add_chapter,
    add_paragraphs,
    add_heading,
    elevate_parent,
    add_list,
    add_infobox,
    add_table,
    add_attribute,
    add_special_limitation,
    add_advantage,
    add_perk,
    add_enhancement
)

# New data model

In [14]:
items = []

# Load data model

In [7]:
items = load_items(title="df")

In [8]:
book_id = items[0].id

In [177]:
parent_id = items[-1].parent_id

## Check Items

In [174]:
items.pop()

Item(id=UUID('ae7c69f4-d11a-41aa-9688-46f441ee4731'), parent_id=UUID('2a7b94e6-37cb-4fd6-b177-a977171ed83a'), type='heading', metadata={'page': 104, 'title': 'Radiation (rad)', 'children': []})

In [311]:
df = pd.DataFrame(items)
df

,id,parent_id,type,metadata
0,1e796d10-9718-4d54-b89d-2e31b2ee6645,1e796d10-9718-4d54-b89d-2e31b2ee6645,book,{'title': 'Basic Set - Characters'}
1,b460eb3f-a59b-493a-9230-f3d21f75c76b,1e796d10-9718-4d54-b89d-2e31b2ee6645,chapter,"{'page': 5, 'title': 'Introduction', 'children..."
2,7ae2d188-3106-4a82-9a54-b4e41efe2f1d,b460eb3f-a59b-493a-9230-f3d21f75c76b,paragraphs,"{'page': -1, 'content': ['GURPS stands for “Ge..."
3,f9fe638f-c21f-4f4e-9327-43b7491470e4,b460eb3f-a59b-493a-9230-f3d21f75c76b,paragraphs,"{'page': -1, 'content': ['“Generic.” Some peop..."
4,31198d32-fc2a-4b92-be04-840a094d9ed3,b460eb3f-a59b-493a-9230-f3d21f75c76b,paragraphs,"{'page': -1, 'content': ['GURPS has been in pr..."
...,...,...,...,...
1422,fabec80b-ea4b-4377-86ec-8d801993f0ad,1e9723cb-a0dc-4a70-907b-f27a13849f63,enhancement,"{'page': 109, 'title': 'Variable', 'children':..."
1423,fea70780-b1d3-4d48-8efc-79d7f20e4cc0,fabec80b-ea4b-4377-86ec-8d801993f0ad,paragraphs,"{'page': -1, 'content': ['You can reduce the l..."
1424,0fb23d9c-c32b-4d3f-97ab-3eee5f1bee3c,1e9723cb-a0dc-4a70-907b-f27a13849f63,enhancement,"{'page': 109, 'title': 'Wall', 'children': [],..."
1425,474e7a64-5d4f-45b0-9f32-b86bbe938c76,0fb23d9c-c32b-4d3f-97ab-3eee5f1bee3c,paragraphs,"{'page': -1, 'content': ['You may only add thi..."
1426,3737e949-ba37-4ac5-a073-334ddda8c1d8,0fb23d9c-c32b-4d3f-97ab-3eee5f1bee3c,list,"{'page': -1, 'title': None, 'type': None, 'con..."

In [312]:
get_parent_type(items, df.parent_id.iloc[-1])

'enhancement'

In [313]:
save_df(df=df, title="df")

# Parse Book

## Initialize Book

In [16]:
title = "Basic Set - Characters"
item, parent_id, book_id = new_book(title=title, items=items)

In [17]:
item

Item(id=UUID('1e796d10-9718-4d54-b89d-2e31b2ee6645'), parent_id=UUID('1e796d10-9718-4d54-b89d-2e31b2ee6645'), type='book', metadata={'title': 'Basic Set - Characters'})

## Add Chapter

In [834]:
page = 32
title = "Chapter Two: Advantages"

In [835]:
item = add_chapter(
    title=title, page=page, items=items, parent_id=book_id
)
parent_id = item.id

## Add Paragraph

In [319]:
text = """You can apply limitations to almost
any trait (although as with enhancements,
skills are normally off-limits).
When you apply a limitation to a disadvantage,
you reduce its value as a
disadvantage; e.g., a -10% limitation
on a -25-point disadvantage would
make it a -22.5-point trait, which
rounds to -22 points. Limited disadvantages
are worth fewer points
because they affect you under more
restricted circumstances.

Remember that no matter how
many limitations you take, you cannot
reduce the cost of a trait by more than
80%. That is, when totaling modifiers,
treat net modifiers below -80% as
-80%.
"""

In [320]:
item = add_paragraphs(text=text, items=items, parent_id=parent_id)

## Add Heading

In [314]:
page = 110
title = "Limitations"

In [315]:
df = pd.DataFrame(items)
df.loc[df.id == parent_id]

,id,parent_id,type,metadata
1424,0fb23d9c-c32b-4d3f-97ab-3eee5f1bee3c,1e9723cb-a0dc-4a70-907b-f27a13849f63,enhancement,"{'page': 109, 'title': 'Wall', 'children': [],..."

In [317]:
# Only if needed
parent_id = elevate_parent(items=items, parent_id=parent_id)
df.loc[df.id == parent_id]

,id,parent_id,type,metadata
1290,e647503f-b68e-4cd2-809c-440ae720fa10,cfbf88dc-c7bb-4bc2-8434-2a28e50ae358,heading,"{'page': 101, 'title': 'Modifiers', 'children'..."

In [318]:
item = add_heading(
    title=title,
    page=page,
    items=items,
    parent_id=parent_id)
parent_id = item.id

## Add List

In [97]:
text = """Ability other than an attack or a
defense. Your ability is not subject to
the usual built-in restrictions. For
instance, your Healing might cure otherwise
“incurable” diseases, your
Insubstantiality might allow you to
penetrate barriers that would block
other insubstantial beings, or your
Shapeshifting might be immune to
negation by external forces. +50%.

Defense or countermeasure. Your
defensive trait provides its usual benefits
against offensive abilities modified
with the Cosmic enhancement. +50%.

Attack with a lingering special effect.
Your attack has an enduring effect
that only another Cosmic power can
counteract; e.g., a burning Innate
Attack that sets fires that water cannot
extinguish, or a toxic Innate Attack
that inflicts Cyclic (below) damage
that medical technology cannot halt.
This does not negate the target’s protection!
DR still affects Innate Attack,
a HT roll is still allowed for a
Resistible (p. 115) attack, etc. +100%.

Irresistible attack. Your attack does
negate the target’s protection; e.g., an
Innate Attack that ignores DR, or
Mind Control that ignores Mind
Shield. The target may still attempt an
active defense against the attack, if
applicable. You cannot combine this
enhancement with other “penetration
modifiers,” such as Follow-Up
(p. 105). +300%."""

In [98]:
parse_list(text)

['Ability other than an attack or a defense. Your ability is not subject to the usual built-in restrictions. For instance, your Healing might cure otherwise “incurable” diseases, your Insubstantiality might allow you to penetrate barriers that would block other insubstantial beings, or your Shapeshifting might be immune to negation by external forces. +50%.',
 'Defense or countermeasure. Your defensive trait provides its usual benefits against offensive abilities modified with the Cosmic enhancement. +50%.',
 'Attack with a lingering special effect. Your attack has an enduring effect that only another Cosmic power can counteract; e.g., a burning Innate Attack that sets fires that water cannot extinguish, or a toxic Innate Attack that inflicts Cyclic (below) damage that medical technology cannot halt. This does not negate the target’s protection! DR still affects Innate Attack, a HT roll is still allowed for a Resistible (p. 115) attack, etc. +100%.',
 'Irresistible attack. Your attack does negate the target’s protection; e.g., an Innate Attack that ignores DR, or Mind Control that ignores Mind Shield. The target may still attempt an active defense against the attack, if applicable. You cannot combine this enhancement with other “penetration modifiers,” such as Follow-Up (p. 105). +300%.']

In [99]:
item = add_list(text=text, items=items, parent_id=parent_id)

## Add Info Box

In [42]:
page = -1
title = "Turning Enhancements Off and On"

In [43]:
df = pd.DataFrame(items)
df.loc[df.id == parent_id]

,id,parent_id,type,metadata
1298,7e25415b-ed81-473d-9057-a81d0c22ef2b,1e9723cb-a0dc-4a70-907b-f27a13849f63,infobox,"{'page': -1, 'title': 'Attack Enhancements and..."

In [44]:
# Only if needed
parent_id = elevate_parent(items=items, parent_id=parent_id)
df.loc[df.id == parent_id]

,id,parent_id,type,metadata
1296,1e9723cb-a0dc-4a70-907b-f27a13849f63,e647503f-b68e-4cd2-809c-440ae720fa10,heading,"{'page': 102, 'title': 'Enhancements', 'childr..."

In [45]:
item = add_infobox(
    title=title,
    page=page,
    items=items,
    parent_id=parent_id)
parent_id = item.id

## Add Table

In [259]:
title = ""
metadata = None
text = """RoF | Cost
2 | +40%
3 | +50%
4-7 | +70%
8-15 | +100%
16-30 | +150%
31-70 | +200%
71-150 | +250%
151-300 | +300%
"""

In [260]:
pd.DataFrame(parse_table(text).to_dict())
#pd.DataFrame(parse_table(text, header=[0, 1]).to_dict())

       RoF     Cost
0        2     +40%
1        3     +50%
2      4-7     +70%
3     8-15    +100%
4    16-30    +150%
5    31-70    +200%
6   71-150    +250%
7  151-300    +300%

In [261]:
# Single line header
item = add_table(text=text, items=items, parent_id=parent_id)
#item = add_table(title=title, text=text, items=items, parent_id=parent_id)

In [246]:
# Multi-row header
item = add_table(text=text, items=items, parent_id=parent_id, header=[0, 1])

## Add Attribute

In [755]:
page = 29
text = "Rank"
cost = "5 or 10 point/level"

In [756]:
df = pd.DataFrame(items)
df.loc[df.id == parent_id]

,id,parent_id,type,metadata
281,2745f0b6-5f84-4e34-9968-aa52b5b95745,e99f893a-6ad9-4a31-a8b6-217c6c457fd5,heading,"{'page': 29, 'title': 'Recognizing Status', 'c..."

In [758]:
# Only if needed
parent_id = elevate_parent(items=items, parent_id=parent_id)
df.loc[df.id == parent_id]

,id,parent_id,type,metadata
270,f98d999e-8011-4dc9-8a83-a1083cde6c8a,48435dc1-9c23-46a1-bb93-299f0dc7d970,heading,"{'page': 28, 'title': 'Importance', 'children'..."

In [759]:
item = add_attribute(text=text, cost=cost, items=items, parent_id=parent_id, page=page)
parent_id = item.id

## Add Advantage

In [11]:
advantage_list_id = UUID('51e5ac62-03ae-4143-b096-1f3c95ce0f75')
df = pd.DataFrame(items)
df.loc[df.id == advantage_list_id]

,id,parent_id,type,metadata
324,51e5ac62-03ae-4143-b096-1f3c95ce0f75,cfbf88dc-c7bb-4bc2-8434-2a28e50ae358,heading,"{'page': 34, 'title': 'Advantage List', 'child..."

In [919]:
page = 100
text = "Zeroed"
types = ["social"]
cost = "10 points"

p = """"""

In [920]:
item = add_advantage(text=text, cost=cost, types=types, items=items, parent_id=advantage_list_id, page=page)
parent_id = item.id

In [921]:
item = add_paragraphs(text=p, items=items, parent_id=parent_id)

## Add Perk

In [935]:
perk_list_id = UUID('4ddceb7f-de58-42be-9ce1-ff7987da5333')
df = pd.DataFrame(items)
df.loc[df.id == perk_list_id]

,id,parent_id,type,metadata
1268,4ddceb7f-de58-42be-9ce1-ff7987da5333,51e5ac62-03ae-4143-b096-1f3c95ce0f75,heading,"{'page': 100, 'title': 'Perk', 'children': []}"

In [963]:
page = 101
text = "Shtick"
types = ["mental", "physical"]

p = """
"""

In [964]:
item = add_perk(text=text, types=types, items=items, parent_id=perk_list_id, page=page)
parent_id = item.id

In [965]:
item = add_paragraphs(text=p, items=items, parent_id=parent_id)

## Add Enhancement

In [51]:
enhancement_list_id = UUID('1e9723cb-a0dc-4a70-907b-f27a13849f63')
df = pd.DataFrame(items)
df.loc[df.id == enhancement_list_id]

,id,parent_id,type,metadata
1296,1e9723cb-a0dc-4a70-907b-f27a13849f63,e647503f-b68e-4cd2-809c-440ae720fa10,heading,"{'page': 102, 'title': 'Enhancements', 'childr..."

In [305]:
page = 109
text = "Wall"
types = ["attack enhancement"]
cost = "+30% or +60%"
p = """"""

In [306]:
item = add_enhancement(text=text, cost=cost, types=types, items=items, parent_id=enhancement_list_id, page=page)
parent_id = item.id

In [307]:
item = add_paragraphs(text=p, items=items, parent_id=parent_id)

## Add Limitation

In [ ]:
enhancement_list_id = UUID('1e9723cb-a0dc-4a70-907b-f27a13849f63')
df = pd.DataFrame(items)
df.loc[df.id == enhancement_list_id]

,id,parent_id,type,metadata
1296,1e9723cb-a0dc-4a70-907b-f27a13849f63,e647503f-b68e-4cd2-809c-440ae720fa10,heading,"{'page': 102, 'title': 'Enhancements', 'childr..."

In [ ]:
page = 109
text = "Wall"
types = ["attack enhancement"]
cost = "+30% or +60%"
p = """"""

In [ ]:
item = add_enhancement(text=text, cost=cost, types=types, items=items, parent_id=enhancement_list_id, page=page)
parent_id = item.id

In [ ]:
item = add_paragraphs(text=p, items=items, parent_id=parent_id)

## Add Special

In [308]:
text = """Permeable: The wall is composed of
liquid, gas, energy, or an amorphous
solid (e.g., thorn bushes). It impedes
vision, and inflicts damage on anyone
who attempts to cross it, but an
intruder can traverse it provided he is
not stunned, knocked out, killed, etc.
by its effects. Anything effective
against the substance of the wall will
disperse it; e.g., water or a fire extinguisher
could extinguish a wall of fire.

Rigid: The wall is a material barrier.
This is only possible for Innate Attacks
that deal crushing, cutting, impaling,
or piercing damage. Each yard of wall
has DR 3 and 1/2 HP per die of damage
(round up); e.g., a 6d attack produces a
wall with DR 18 and 3 HP. The wall
does no damage itself, but the damage
type applies to the injury inflicted on
anyone crashing into it."""

In [189]:
df = pd.DataFrame(items)
df.loc[df.id == parent_id]

,id,parent_id,type,metadata
1357,59f6f8e0-7a8d-4b1c-918a-5a91d2e90889,2a7b94e6-37cb-4fd6-b177-a977171ed83a,heading,"{'page': 104, 'title': 'Surge (sur)', 'childre..."

In [190]:
# Only if needed
parent_id = elevate_parent(items=items, parent_id=parent_id)
df.loc[df.id == parent_id]

,id,parent_id,type,metadata
1333,2a7b94e6-37cb-4fd6-b177-a977171ed83a,1e9723cb-a0dc-4a70-907b-f27a13849f63,enhancement,"{'page': 104, 'title': 'Damage Modifiers', 'ch..."

In [183]:
item = add_heading(
    title=title,
    page=page,
    items=items,
    parent_id=parent_id)
parent_id = item.id

In [309]:
parse_list(text)

[{'Permeable': 'The wall is composed of liquid, gas, energy, or an amorphous solid (e.g., thorn bushes). It impedes vision, and inflicts damage on anyone who attempts to cross it, but an intruder can traverse it provided he is not stunned, knocked out, killed, etc. by its effects. Anything effective against the substance of the wall will disperse it; e.g., water or a fire extinguisher could extinguish a wall of fire.'},
 {'Rigid': 'The wall is a material barrier. This is only possible for Innate Attacks that deal crushing, cutting, impaling, or piercing damage. Each yard of wall has DR 3 and 1/2 HP per die of damage (round up); e.g., a 6d attack produces a wall with DR 18 and 3 HP. The wall does no damage itself, but the damage type applies to the injury inflicted on anyone crashing into it.'}]

In [310]:
item = add_list(text=text, items=items, parent_id=parent_id)

In [298]:
item = add_paragraphs(text=text, items=items, parent_id=parent_id)