In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

from pprint import pp
from io import StringIO
from uuid import UUID, uuid4
from joblib import dump, load
from dataclasses import make_dataclass, field

In [3]:
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', None)

In [4]:
from models import (
    Item,
    Book,
    Advantage,
    Disadvantage,
    List,
    Chapter,
    Paragraphs,
    Table,
    Attribute
)

In [5]:
from parsers import (
    parse_paragraphs,
    parse_list,
    line_start_with_number_dot,
    parse_table,
    parse_dot_list,
    split_list,
    parse_number_list
)

In [23]:
from utils.utils import (
    save_df,
    load_items,
    get_parent_type,
    new_book,
    add_chapter,
    add_paragraphs,
    add_heading,
    elevate_parent,
    add_list,
    add_infobox,
    add_table,
    add_attribute,
    add_special_limitation
)

# New data model

In [14]:
items = []

# Load data model

In [7]:
items = load_items(title="df")

In [9]:
book_id = items[0].id

In [10]:
parent_id = items[-1].parent_id

## Check Items

In [537]:
items.pop()

Item(id=UUID('75ea0e73-f4ec-4a17-9a7f-746fd4e8a0ed'), parent_id=UUID('3a7889e0-8338-4cec-8009-6fcc4a5c3615'), type='paragraphs', metadata={'page': -1, 'content': ['Your written comprehension level determines your degree of literacy in that language:']})

In [765]:
df = pd.DataFrame(items)
df

,id,parent_id,type,metadata
0,1e796d10-9718-4d54-b89d-2e31b2ee6645,1e796d10-9718-4d54-b89d-2e31b2ee6645,book,{'title': 'Basic Set - Characters'}
1,b460eb3f-a59b-493a-9230-f3d21f75c76b,1e796d10-9718-4d54-b89d-2e31b2ee6645,chapter,"{'page': 5, 'title': 'Introduction', 'children..."
2,7ae2d188-3106-4a82-9a54-b4e41efe2f1d,b460eb3f-a59b-493a-9230-f3d21f75c76b,paragraphs,"{'page': -1, 'content': ['GURPS stands for “Ge..."
3,f9fe638f-c21f-4f4e-9327-43b7491470e4,b460eb3f-a59b-493a-9230-f3d21f75c76b,paragraphs,"{'page': -1, 'content': ['“Generic.” Some peop..."
4,31198d32-fc2a-4b92-be04-840a094d9ed3,b460eb3f-a59b-493a-9230-f3d21f75c76b,paragraphs,"{'page': -1, 'content': ['GURPS has been in pr..."
...,...,...,...,...
281,2745f0b6-5f84-4e34-9968-aa52b5b95745,e99f893a-6ad9-4a31-a8b6-217c6c457fd5,heading,"{'page': 29, 'title': 'Recognizing Status', 'c..."
282,fbf661dd-584a-4db2-b2f8-00702d09b95a,2745f0b6-5f84-4e34-9968-aa52b5b95745,paragraphs,"{'page': -1, 'content': ['Status only affects ..."
283,853b0f08-531a-4502-8a64-31c9c1616164,f98d999e-8011-4dc9-8a83-a1083cde6c8a,attribute,"{'page': 29, 'title': 'Rank', 'children': [], ..."
284,a8120545-ceed-4430-a692-8faa37a2dfa3,853b0f08-531a-4502-8a64-31c9c1616164,paragraphs,"{'page': -1, 'content': ['Specific sectors of ..."
285,1a98e2b9-a9d7-421a-b491-3417a64d99ce,853b0f08-531a-4502-8a64-31c9c1616164,list,"{'page': -1, 'title': None, 'type': None, 'con..."

In [312]:
get_parent_type(items, df.parent_id.iloc[-1])

'infobox'

In [469]:
save_df(df=df, title="df")

# Parse Book

## Initialize Book

In [16]:
title = "Basic Set - Characters"
item, parent_id, book_id = new_book(title=title, items=items)

In [17]:
item

Item(id=UUID('1e796d10-9718-4d54-b89d-2e31b2ee6645'), parent_id=UUID('1e796d10-9718-4d54-b89d-2e31b2ee6645'), type='book', metadata={'title': 'Basic Set - Characters'})

## Add Chapter

In [19]:
page = 10
title = "Chapter One: Creating a Character"

In [20]:
item = add_chapter(
    title=title, page=page, items=items, parent_id=book_id
)
parent_id = item.id

## Add Paragraph

In [787]:
text = """ISWAT feeds and clothes Dai, and issues him the equipment he needs
on a mission, but does not let him fetch his loot from Yrth. Thus, he does
not personally own much. We give him Wealth (Poor), for -15 points. This
gives 1/5 starting wealth for TL8, or $4,000. Still, by Yrth standards (starting
wealth at TL3 is only $1,000), he lives in more luxury than he knew as
a master thief!

Looking at the traits listed under Privilege and Social Restraints, we
choose two to reflect Dai’s job. ISWAT is powerful, and its agents’ Legal
Enforcement Powers (p. 65) reach across time and space, for 15 points.
But these powers come with a Duty (p. 133), which occurs on 15 or less
and is extremely hazardous, for -20 points.

Dai’s wealth and influence are worth a net -20 points. This lowers his
running point total to 143 points.
"""

In [788]:
item = add_paragraphs(text=text, items=items, parent_id=parent_id)

## Add Heading

In [773]:
page = 31
title = "Friends and Foes"

In [774]:
df = pd.DataFrame(items)
df.loc[df.id == parent_id]

,id,parent_id,type,metadata
286,1dcb6a35-fba6-4388-a661-ee56472975a1,48435dc1-9c23-46a1-bb93-299f0dc7d970,heading,"{'page': 30, 'title': 'Privilege', 'children':..."

In [775]:
# Only if needed
parent_id = elevate_parent(items=items, parent_id=parent_id)
df.loc[df.id == parent_id]

,id,parent_id,type,metadata
226,48435dc1-9c23-46a1-bb93-299f0dc7d970,01aeb0ce-f3a3-4a5a-b17e-dbb68529fcf6,heading,"{'page': 25, 'title': 'Wealth and Influence', ..."

In [776]:
item = add_heading(
    title=title,
    page=page,
    items=items,
    parent_id=parent_id)
parent_id = item.id

## Add List

In [762]:
text = """Administrative Rank: Position within
a governmental bureaucracy. When
dealing with other administrators, differences
in Rank work just like differences
in Status (see p. 28). At TL5 and
higher, a large bureaucracy might
have several varieties of Rank: one per
government department, and possibly
extra categories for the senate, judiciary,
etc. (Defense or law-enforcement
officials use Military or Police Rank
instead.) Note this on your character
sheet; e.g., Administrative Rank
(Judiciary).

Merchant Rank: Position within a
national or transnational organization
of merchants. This could be anything
from the mercantile culture of the
Aztecs (where Merchant Rank verged
on being Status) to the “merchant
marine” of a modern or futuristic society
(where Merchant Rank often parallels
Military Rank during wartime).

Military Rank: Position within a
military organization. Each organization
is structured differently. In general,
personnel that are not specifically
leaders will be Rank 0-2, while lowlevel
officers and senior enlisted men
will be Rank 3-4. Rank 5 and higher is
normally limited to major commands
and duties where the officer is responsible
for extremely valuable or rare
resources. Limited-duty officers, specialists,
and personnel with little actual
responsibility or command authority
have a lower Rank in GURPS
terms, despite possibly possessing
titles identical to those of a higher
Rank; represent this with one or more
levels of Courtesy Rank (see Courtesy
Rank, p. 29)

Police Rank: Position in a police
force. Each agency has its own variety
of Rank. You must buy Legal
Enforcement Powers (p. 65) before
you can buy Police Rank; this is the
difference between a patrol officer
(Police Rank 0, for 0 points) and an
ordinary citizen (no Police Rank, also
0 points). Note that in a police state,
there is no difference between Police
Rank and Military Rank.

Religious Rank: Position in a religious
hierarchy. Each religion has its
own variety of Rank. You must buy
Clerical Investment (p. 43) before you
can buy Religious Rank; this is the difference
between a novice (Religious
Rank 0, for 0 points) and a layperson
(no Religious Rank, also 0 points).
Other common requirements include
a minimum level of Theology skill and
being of a particular sex or race.
Differences in Rank work just like differences
in Status (see p. 28) when
dealing with co-religionists and those
who respect your faith.
"""

In [763]:
parse_list(text)

[{'Administrative Rank': 'Position within a governmental bureaucracy. When dealing with other administrators, differences in Rank work just like differences in Status (see p. 28). At TL5 and higher, a large bureaucracy might have several varieties of Rank'},
 {'Merchant Rank': 'Position within a national or transnational organization of merchants. This could be anything from the mercantile culture of the Aztecs (where Merchant Rank verged on being Status) to the “merchant marine” of a modern or futuristic society (where Merchant Rank often parallels Military Rank during wartime).'},
 {'Military Rank': 'Position within a military organization. Each organization is structured differently. In general, personnel that are not specifically leaders will be Rank 0-2, while lowlevel officers and senior enlisted men will be Rank 3-4. Rank 5 and higher is normally limited to major commands and duties where the officer is responsible for extremely valuable or rare resources. Limited-duty officers, specialists, and personnel with little actual responsibility or command authority have a lower Rank in GURPS terms, despite possibly possessing titles identical to those of a higher Rank; represent this with one or more levels of Courtesy Rank (see Courtesy Rank, p. 29)'},
 {'Police Rank': 'Position in a police force. Each agency has its own variety of Rank. You must buy Legal Enforcement Powers (p. 65) before you can buy Police Rank; this is the difference between a patrol officer (Police Rank 0, for 0 points) and an ordinary citizen (no Police Rank, also 0 points). Note that in a police state, there is no difference between Police Rank and Military Rank.'},
 {'Religious Rank': 'Position in a religious hierarchy. Each religion has its own variety of Rank. You must buy Clerical Investment (p. 43) before you can buy Religious Rank; this is the difference between a novice (Religious Rank 0, for 0 points) and a layperson (no Religious Rank, also 0 points). Other common requirements include a minimum level of Theology skill and being of a particular sex or race. Differences in Rank work just like differences in Status (see p. 28) when dealing with co-religionists and those who respect your faith.'}]

In [764]:
item = add_list(text=text, items=items, parent_id=parent_id)

## Add Info Box

In [779]:
page = 28
title = "Example of Character Creation (cont’d)"

In [784]:
df = pd.DataFrame(items)
df.loc[df.id == parent_id]

,id,parent_id,type,metadata
288,ac79debf-1025-4d5f-893a-d674ad15bd54,48435dc1-9c23-46a1-bb93-299f0dc7d970,heading,"{'page': 30, 'title': 'Social Restraints', 'ch..."

In [785]:
# Only if needed
parent_id = elevate_parent(items=items, parent_id=parent_id)
df.loc[df.id == parent_id]

,id,parent_id,type,metadata
226,48435dc1-9c23-46a1-bb93-299f0dc7d970,01aeb0ce-f3a3-4a5a-b17e-dbb68529fcf6,heading,"{'page': 25, 'title': 'Wealth and Influence', ..."

In [786]:
item = add_infobox(
    title=title,
    page=page,
    items=items,
    parent_id=parent_id)
parent_id = item.id

## Add Table

In [287]:
title = "Size Modifier Table"
metadata = None
text = """Longest Dimension | Size Modifier
0.05 yard (1.8”) | -10
0.07 yard (2.5”) | -9
0.1 yard (3.5”)  | -8
0.15 yard (5”)   | -7
0.2 yard (7”)    | -6
0.3 yard (10”)   | -5
0.5 yard (18”)   | -4
0.7 yard (2’)    | -3
1 yard (3’)      | -2
1.5 yards (4.5’) | -1
2 yards (6’)     |  0
3 yards (9’)     | +1
5 yards (15’)    | +2
7 yards (21’)    | +3
10 yards (30’)   | +4
15 yards (45’)   | +5
20 yards (60’)   | +6
30 yards (90’)   | +7
50 yards (150’)  | +8
70 yards (210’)  | +9
100 yards (300’) | +10
150 yards (450’) | +11
"""

In [288]:
pd.DataFrame(parse_table(text).to_dict())
#pd.DataFrame(parse_table(text, header=[0, 1]).to_dict())

   Longest Dimension    Size Modifier
0   0.05 yard (1.8”)              -10
1   0.07 yard (2.5”)               -9
2   0.1 yard (3.5”)                -8
3   0.15 yard (5”)                 -7
4   0.2 yard (7”)                  -6
5   0.3 yard (10”)                 -5
6   0.5 yard (18”)                 -4
7   0.7 yard (2’)                  -3
8   1 yard (3’)                    -2
9   1.5 yards (4.5’)               -1
10  2 yards (6’)                    0
11  3 yards (9’)                    1
12  5 yards (15’)                   2
13  7 yards (21’)                   3
14  10 yards (30’)                  4
15  15 yards (45’)                  5
16  20 yards (60’)                  6
17  30 yards (90’)                  7
18  50 yards (150’)                 8
19  70 yards (210’)                 9
20  100 yards (300’)               10
21  150 yards (450’)               11

In [289]:
# Single line header
#item = add_table(text=text, items=items, parent_id=parent_id)
item = add_table(title=title, text=text, items=items, parent_id=parent_id)

In [246]:
# Multi-row header
item = add_table(text=text, items=items, parent_id=parent_id, header=[0, 1])

## Add Attribute

In [755]:
page = 29
text = "Rank"
cost = "5 or 10 point/level"

In [756]:
df = pd.DataFrame(items)
df.loc[df.id == parent_id]

,id,parent_id,type,metadata
281,2745f0b6-5f84-4e34-9968-aa52b5b95745,e99f893a-6ad9-4a31-a8b6-217c6c457fd5,heading,"{'page': 29, 'title': 'Recognizing Status', 'c..."

In [758]:
# Only if needed
parent_id = elevate_parent(items=items, parent_id=parent_id)
df.loc[df.id == parent_id]

,id,parent_id,type,metadata
270,f98d999e-8011-4dc9-8a83-a1083cde6c8a,48435dc1-9c23-46a1-bb93-299f0dc7d970,heading,"{'page': 28, 'title': 'Importance', 'children'..."

In [759]:
item = add_attribute(text=text, cost=cost, items=items, parent_id=parent_id, page=page)
parent_id = item.id

## Add Special Limitation

In [ ]:
text = "Strength (ST)"
cost = "±10 points/level"

In [ ]:
item = add_special_limitation(text=text, cost=cost, items=items, parent_id=parent_id)
parent_id = item.id